@{
    ViewData["Title"] = "Confirmación";
}

<div class="alert alert-success" style="background-color: green; color:white;">
    Su solicitud ha sido enviado correctamente. Pronto estaremos en contacto.
</div>
